// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.fondo{
    background-color: #3333ff;
    color: #fff;
}

.centrado{
    text-align: center;
}
.centrado ion-item{
    background-color:transparent;
    color: #FFF;
}
.centrado ion-icon, .centrado ion-label, .centrado ion-input{
    color: #fff;
}
/*color blanco en placeholder*/
.text-input::-moz-placeholder {
    color: rgb(233, 223, 223);
}
.text-input:-ms-input-placeholder {
    color: rgb(233, 223, 223);
}  
.text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgb(233, 223, 223);
}
.btn50{
    width: 200px;
}
.button{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px; 
}